fastapi
uvicorn[standard]
python-dotenv
langchain
langgraph
langchain-core
langchain-mcp-adapters

langchain[openai]
langchain[anthropic]
langchain[google-genai]
langchain-aws

httpx
pydantic
boto3
 